@charset "utf-8";
#BlackGradient {
	width: 1024px;
	height: 1500px;
	background-image: url(Task%20Photos/Back%20Ground.jpg);
	background-repeat: no-repeat;
	background-size: 1024px 786px;
	background-position: center top;
	-webkit-box-shadow: 10px 7px 7px 4px hsla(0,0%,0%,1.00);
	box-shadow: 10px 7px 7px 4px hsla(0,0%,0%,1.00);
	border-radius: 20px;
	background-origin: padding-box;
	background-attachment: fixed;
	padding-left: 0px;
	position: relative;
	left: 50px;
	right: 50px;
	margin-left: auto;
	margin-right: auto;
}
#wrapper{
	width: 1000px;
	height: 1500px;
	background-color: #A3A2A2;
	margin-left: auto;
	margin-right: auto;
}
